*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0  auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 1280px;
    height: 124px;
    background-color: #F9E0AE;
}
body{

    width: 1280px; 
}
.main_menu  ul li{
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    margin-right: 20px;
}
.main_menu ul{
    display: flex;
    float: right;
    margin-top: 53px;
    padding-right: 150px;
}
.main_menu{
    margin-left: 400px;
    font-size: 20px;
    margin-top: 0;
    color: black;
    font-weight: bold;
}
button{
    background-color:#C24914 ;
    width: 150px;
    height: 39px;
    margin-top: 45px;
    margin-right: 118px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    float: right;
}
header img{
    float: left;
    width: 135px;
    height: 59px;
    margin-top: 35px;
    margin-left: 100px;
    
}
.red{
    width: 150px;
    height: 39px;
    margin-left: 430px;
    margin-top: -25px;
    border-radius: 10px;
    background-color: #C24914;
    color: white;
}
.info-block-one img {
    width: 487px;
    height: 487px;
    float: right;
    margin-top: 52px;
}

.info-block-one h1 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 148px;
    margin-left: 100px;
}

.info-block-one p {
    color: rgba(0, 0, 0, 0.46);
    font-size: 20px;
    font-weight: 400;
    margin-top: 34px;
    margin-left: 100px;
}

.info-block-one button {
    width: 200px;
    height: 44px;
    background-color: #682C0E;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
    margin-left: 100px;
    float: left;
}

.info-block-two {
    margin-top: 400px;
    height: 379px;
}

.info-block-two img {
    width: 480px;
    height: 379px;
    float: left;
    margin-left: 100px;
}

.info-block-two h1 {
    font-size: 48px;
    font-weight: 500;
    float: right;
    margin-right: 250px;
    padding-bottom: 10px;
}

.info-block-two ul {
    float: right;
    margin-right: 280px;

}

.info-block-two li {
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}

.info-block-three {
    margin-top: 300px;
    Height: 292.64px;
}

.info-block-three img {
    float: right;
    margin-right: 100px;
}

.info-block-three h1 {
    font-size: 48px;
    font-weight: 600;
    padding-top: 20px;
    margin-left: 100px;
}


.subscribe-form {
    margin-top: 70px;
    width: 1080px;
    height: 140px;
    background-color: #F9E0AE;
    margin-left: 100px;
    text-align: center;
}

.subscribe-form input {
    width: 300px;
    height: 63px;
    margin-top: 50px;
    border: 0;
    margin-left: 45px;
    text-align: center;
}

.subscribe-form button {
    width: 200px;
    height: 63px;
    background-color: #C24914;
    color: #fff;
    border: 0;
    margin-left: 45px;
    border-radius: 0;
    text-align: center;
}

.info-block-last{
    position: relative;
    height: 780px;
    margin-bottom: 100px;
}

.info-block-last__content{
    width: 550px;
    z-index: 1;
    float: left;
}

.info-block-last__content h1{
    text-align: center;
    padding-top: 63px;
}

.info-block-last__content p{
    text-align: center;
}

.info-block-last__content button{
    width: 273px;
    height: 54px;
    border-radius: 10px;
    background: #FC8621;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 63px 138px 0;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.info-block{
    margin-top: 300px;
}
.img{
    position: absolute;
    
}

.lagre_img{
    bottom: 0;
    right: 0;
    z-index: 0;
    margin-right: 200px
}

.small_img_1{
    bottom: 151px;
    left: 317px;
}
.small_img_2{
    top: 0;
    right: 426px;
}
.small_img_3{
    left: 40px;
    top: 401px;
}
.small_img_4{
    top: 165px;
    right: 104px;
}